PRINT "Welcome to the Nightvale!"
CREATE_INV backpack
ADD_ITEM backpack "sandwich"
SHOW_INV backpack
ADD_CHAR "Bob"
SET_CHAR_EMOTION "Bob" "happy"
SET_CHAR_DESC "Bob" "A Highschool kid"
CHECK_STATUS "Bob"
HALT
